<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhuchuangsoft.footstone.mappers.WarmingMapper">
    <resultMap id="warming" type="cn.zhuchuangsoft.footstone.entity.warming.Warming">
        <id column="id" property="id"></id>
        <result column="warming_code" property="warmingCode"></result>
        <result column="warming_msg" property="warmingMsg"></result>
        <result column="warming_time" property="warmingTime"></result>
        <result column="ishandle" property="ishandle"></result>
        <result column="handle_time" property="handleTime"></result>
        <result column="handle_msg" property="handleMsg"></result>
        <result column="device_code" property="deviceCodes"></result>
        <!--<association property="deviceCodes" column="device_code">-->
        <!--<result column="DEVICE_CODE" property="deviceCodes"></result>-->
        <!--</association>-->

    </resultMap>

    <sql id="findfilds">
		device_code,warming_code,warming_msg,warming_time,ishandle,handle_time,handle_msg
	</sql>

    <select id="getAllWarming" parameterType="cn.zhuchuangsoft.footstone.entity.warming.Warming" resultMap="warming">
        select
        <include refid="findfilds"/>
        from warming
        <where>
            <if test="ishandle!=null and ishandle!=''">
                and ishandle=#{ishandle}
            </if>
            <if test="warmingTime=='today'">
                and to_days(warming_time) = to_days(now())
            </if>
            <if test="warmingTime=='yesterday'">
                and WHERE TO_DAYS( NOW( ) ) - TO_DAYS( warming_time) = 1
            </if>
        </where>
        order by warming_time desc
    </select>

    <select id="getWarmingByCode" resultMap="warming" parameterType="String">
        select
        <include refid="findfilds"/>
        from warming
        <where>
            <if test="deviceCodes!=null and deviceCodes!=''">
                and device_code=#{deviceCodes}
            </if>
            <if test="startTime!='' and startTime!=null ">
                between warming_time=#{startTime}
            </if>
            <if test="endTime!='' and endTime!=null">
                and warming_time=#{endTime}
            </if>
        </where>
        order by warming_time desc

    </select>


    <select id="getWarmingByWarmingCode" parameterType="String" resultMap="warming">
        select
        <include refid="findfilds"></include>
        from warming
        where warming_code=#{warmingCode}

    </select>

</mapper>